body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f8ff; /* Color de fondo por defecto */
    background-image: url('corazones.jpeg'); /* Cambia la ruta a la ubicación de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* Cambia el color del texto si la imagen es oscura */
}

.start-screen {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.1em;
}

button {
    background-color: #b01be2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}